<div class="flex h-screen">
  <div class="w-full sm:w-1/3">
    <div class="h-full overflow-y-scroll px-2">
      <p-dataview #dv [value]="prizes()">
        <ng-template #header>
          <div class="flex justify-end">Listado de tramite</div>
        </ng-template>
        <ng-template #list let-items>
          <div class="grid grid-cols-12 gap-4 grid-nogutter">
            <div
              class="col-span-12"
              *ngFor="let item of items; let first = first"
            >
              <div
                class="flex flex-col sm:flex-row sm:items-center p-2 gap-4"
                [ngClass]="{
                  'border-t border-surface-700': !first
                }"
              >
                <div class="md:w-32 relative flex justify-center">
                  <img class="object-contain h-24" [src]="item.image" />
                </div>
                <div
                  class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6"
                >
                  <div
                    class="flex flex-row md:flex-col justify-between items-start gap-2"
                  >
                    <div>
                      <span class="font-bold text-lg">
                        {{ item.number }} - {{ item.name }}
                      </span>
                      <div class="text-sm font-medium">
                        {{ item.description }}
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col md:items-end gap-8">
                    <!-- <span>Listo</span> -->
                    <div class="flex flex-row-reverse md:flex-row gap-2">
                      <p-button
                        icon="pi pi-arrow-right"
                        [outlined]="true"
                        (onClick)="onSelectPrize(item)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataview>
    </div>
  </div>
  <div class="w-2/3">
    <div class="flex items-center justify-between p-4">
      <div class="font-medium text-xl">SORTEO SACABA 2025</div>
      <img src="images/institution.jpeg" class="h-16" alt="Institution image" />
    </div>
    <div class="flex flex-col gap-y-2 items-center h-auto">
      <div class="w-1/2">
        @if (currentPrize()) {
        <div class="animate-fadeinup animate-duration-500">
          <prize-card [prize]="currentPrize()!" />
        </div>
        }
      </div>
      <div class="w-1/2">
        <raffle (onStart)="getWinner()" />
      </div>
    </div>
  </div>
</div>
