<div class="flex flex-col h-screen animate__animated animate__fadeIn">
  <!-- Título -->

  <div
    class="flex justify-between bg-gradient-to-r from-green-200 to-blue-500 text-white p-2"
  >
    <div></div>
    <div class="">
      <p
        class="text-center text-md sm:text-4xl font-bold animate__animated animate__flash animate__infinite"
      >
        {{ message() }}
      </p>
    </div>
    <div>
      <p-button icon="pi pi-print" severity="info" (onClick)="print()"/>
    </div>
  </div>

  <!-- Contenido Principal -->
  <div class="flex-1 flex flex-col sm:flex-row">
    <!-- Columna de Premios -->
    <div class="w-1/3 flex flex-col">
      <!-- Título de la lista -->
      <div class="flex items-center justify-between py-2 px-4">
        <div class="text-xl font-semibold">LISTADO DE PREMIOS</div>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Buscar premio"
            [(ngModel)]="term"
          />
        </p-iconfield>
      </div>

      <!-- Contenedor Scrollable -->
      <div class="overflow-y-auto" style="max-height: calc(100vh - 140px)">
        <prizes-list-select
          [datasource]="filteredPrizes()"
          [(selectedItem)]="currentPrize"
        />
      </div>
    </div>

    <!-- Columna de Sorteo -->
    <div class="w-2/3 border-2 border-slate-400 m-4 p-4 rounded-xl">
      @if(currentPrize()){
      <raffle
        [prize]="currentPrize()!"
        (prizeChange)="setWinnerPrize($event)"
      />
      } @else {
      <div class="flex h-full items-center justify-center text-xl">
        Seleccione un premio para iniciar
      </div>
      }
    </div>
  </div>
</div>
