/* sorteo.component.css */
@keyframes spin {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce {
  animation: spin 0.2s infinite;
}
